/* Этот класс добавим в ваш существующий файл */
.appWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Этот класс заставит основной контент занять всё доступное пространство */
.container {
    flex: 1 1 auto; /* Это важно для "прижатия" футера */
    max-width: 320px;
    padding: 0 20px;
    margin: 0 auto;
    width: 100%;
}

/* tablet styles */
@media only screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 32px;
    }
}

/* desktop styles */
@media only screen and (min-width: 1280px) {
    .container {
        max-width: 1280px;
        padding: 0 16px;
    }
}
