.input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 14px;
}

.buttons {
    display: flex;
    gap: 10px;
}

.mainButton,
.secondaryButton {
    flex: 1;
    padding: 25px 25px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 10px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    transition: background-color 0.2s, color 0.2s;
}

.mainButton {
    background-color: #ff6b09;
    color: white;
}

.mainButton:hover {
    background-color: #e66000;
}

.secondaryButton {
    background-color: transparent;
    border: 1px solid #ccc;
    color: #555;
}

.secondaryButton:hover {
    background-color: #f1f1f1;
}

/* Адаптив */
@media only screen and (min-width: 768px) {
    .mainButton,
    .secondaryButton {
        font-size: 12px;
        padding: 23px 78px;
        text-wrap: nowrap;
    }
}
