.resultsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
}

.title {
    font-weight: 700;
    font-size: 12px;
}

.resultBox {
    width: 100%;
    max-width: 600px;
    padding: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin-bottom: 30px;
    text-align: center;
}

.chartAndInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.answerCounts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.legendItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.legendColorBox {
    width: 14px !important;
    height: 14px !important;
    min-width: 14px;
    min-height: 14px;
    max-width: 14px;
    max-height: 14px;
    box-sizing: border-box;
    display: inline-block;
    padding: 0;
    margin: 0;
}

.resultHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.resultText {
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
}

.lineContainer {
    height: 1px;
    background-color: #00122f;
    opacity: 0.15;
    margin: 16px 0;
    width: 130px;
}

.messages {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.messageCounts {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 500;
    font-size: 10px;
    gap: 20px;
    margin-bottom: 20px;
}

.messageCounts span {
    font-weight: 700;
}

.verticalDivider {
    display: inline-block;
    width: 1px;
    height: 20px;
    background: #00122f;
    vertical-align: middle;
    opacity: 0.15;
}

.catImage {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.mainMessage {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 18px;
}

.secondaryMessage {
    font-weight: 500;
    font-size: 10px;
    color: #555;
}

.tryAgainButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff751d;
    color: white;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s;
}

.tryAgainButton:hover {
    background-color: #e66000;
}

/* tablet styles */
@media only screen and (min-width: 768px) {
    .title {
        font-size: 22px;
    }
    .resultText {
        font-size: 14px;
        margin-bottom: 32px;
    }

    .legendColorBox {
        width: 25px !important;
        height: 25px !important;
        min-width: 25px;
        min-height: 25px;
        max-width: 25px;
        max-height: 25px;
    }
}
