.footer {
    padding: 20px;
    text-align: center;
    background-color: #02172a;
}

.heartIcon {
    vertical-align: middle;
    color: #ff6b09;
}
.footerText {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: 10px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.4);
}

.textGoIT {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

/* TABLET и DESKTOP — показываем только userDesktop */
@media only screen and (min-width: 768px) {
    .footerText {
        font-size: 12px;
    }
}

/* DESKTOP STYLES */
@media only screen and (min-width: 1280px) {
}
