.authContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 20px;
}

.authInfo {
    text-align: center;
}

.title {
    text-align: left;
    font-weight: 800;
    font-size: 20px;
    margin-bottom: 8px;
    color: #000;
}

.description {
    max-width: 420px;
    font-weight: 500;
    font-size: 12px;
    text-align: left;
    margin: 0 auto;
    line-height: 1.67;
    color: #555;
}

.description strong {
    font-weight: 600;
    color: #000;
}

.formWrapper {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    background-color: white;
    box-shadow: 0 4px 15px 0 rgba(2, 23, 42, 0.1);
}

.formTitle {
    margin-bottom: 20px;
    text-align: center;
    font-weight: 500;
    font-size: 10px;
    color: #000;
}

.googleButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    cursor: pointer;
    font-weight: 700;
    font-size: 14px;
    color: #000;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s;
}

.googleButton:hover {
    background-color: #f9f9f9;
}

/* Адаптив */
@media only screen and (min-width: 768px) {
    .title {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .description {
        font-size: 16px;
        line-height: 2.25;
    }
    .formTitle {
        font-weight: 400;
        font-size: 14px;
    }
    .formWrapper {
        max-width: 500px;
        padding: 38px;
    }
}

@media only screen and (min-width: 1280px) {
    .authContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 112px;
    }

    .authInfo {
        text-align: left;
    }

    .description {
        margin: 0;
    }
}
