@import "modern-normalize/modern-normalize.css";

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --font-family: "Montserrat", sans-serif;
    --second-family: "Montserrat Medium", sans-serif;
    --third-family: "Montserrat SemiBold", sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.02em;

    color: #555;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    background-color: #f5f6fb;
}

h1,
h2 {
    font-family: var(--third-family);
    font-weight: 600;
}

strong,
b {
    font-family: var(--second-family);
    font-weight: 500;
}

/* reset styles */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

p:last-child {
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
